<app-header></app-header>
<div class="container-fluid pt-5 pb-5">
  <form class="form-group" [formGroup]="form">
    <div class="row">
      <div class="col-sm-12 col-md-6 my-2">
        <p-dropdown
          placeholder="I am"
          formControlName="TypeOfUser"
          [options]="realEsateUser"
          optionLabel="realEstateUser"
          optionValue="id"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <p-dropdown
          placeholder="I want to"
          formControlName="Action"
          [options]="action"
          optionLabel="action"
          optionValue="id"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <p-dropdown
          placeholder="Property type"
          formControlName="Type"
          [options]="propertyType"
          optionLabel="propertyType"
          optionValue="id"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <p-dropdown
          placeholder="What kind of property"
          formControlName="KindOfProperty"
          [options]="kindOfProperty"
          optionLabel="propertyKind"
          optionValue="id"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <p-dropdown
          placeholder="Property age"
          formControlName="Age"
          [options]="propertyAge"
          optionLabel="age"
          optionValue="id"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <p-dropdown
          placeholder="Property on floor"
          formControlName="Floor"
          [options]="propertyFloor"
          optionLabel="floor"
          optionValue="id"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <p-dropdown
          placeholder="Property facing"
          formControlName="Facing"
          [options]="propertyFacing"
          optionLabel="facing"
          optionValue="id"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <p-dropdown
          placeholder="Property available from"
          formControlName="Availability"
          [options]="propertyAvailability"
          optionLabel="availability"
          optionValue="id"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <p-dropdown
          placeholder="Property furnishing"
          formControlName="FurnishingType"
          [options]="furnishingType"
          optionLabel="furnishingType"
          optionValue="id"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <input
          class="form-control"
          type="text"
          pInputText
          placeholder="Bathroom"
        />
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <input
          class="form-control"
          type="text"
          pInputText
          placeholder="Balcony"
        />
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <input
          class="form-control"
          type="text"
          pInputText
          placeholder="Covered Parking"
        />
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <input
          class="form-control"
          type="text"
          pInputText
          placeholder="Open parking"
        />
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <p-dropdown
          placeholder="State"
          formControlName="State"
          [options]="stateList"
          optionLabel="stateName"
          optionValue="stateId"
          (onChange)="onStateChange($event)"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <p-dropdown
          placeholder="City"
          formControlName="City"
          [options]="cityList"
          optionLabel="cityName"
          optionValue="cityId"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <input
          class="form-control"
          type="text"
          pInputText
          placeholder="Locality"
        />
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <input
          class="form-control"
          type="text"
          pInputText
          placeholder="Plot area (Sq ft.)"
        />
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <input
          class="form-control"
          type="text"
          pInputText
          placeholder="Built up area (Sq ft.)"
        />
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <input
          class="form-control"
          type="text"
          pInputText
          placeholder="Expected price (&#8377;)"
        />
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <input
          class="form-control"
          type="text"
          pInputText
          placeholder="Total floor"
        />
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <input
          class="form-control"
          type="text"
          pInputText
          placeholder="Maintenance charge (&#8377;)"
        />
      </div>
      <div class="col-sm-12 col-md-6 my-2">
        <input
          class="form-control"
          type="text"
          pInputText
          placeholder="Description"
        />
      </div>
      <div class="col-sm-12 col-md-12 my-2">
        <div class="border_daes w-50 mx-auto" (click)="imageUpload()">
          <div class="text-center my-2 pt-3">
            <img
              src="../../../../../assets/img/addImage.png"
              width="45px"
              height="45px"
            />
          </div>
          <p class="text-center fw-bolder">Add Property image</p>
          <p class="text-center text-danger fw-semibold">+ Add New</p>
          <p class="text-center text-secondary fw-semibold pb-3">
            .jpg,.png and jpeg
          </p>
        </div>
      </div>
    </div>
    <div class="row me-2">
      <div class="col-sm-12 col-md-12 text-end my-2">
        <button class="btn btn-dark">Submit</button>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>
