<app-header></app-header>
<section class="services">
  <div class="container pt-5 ">
    <div class="d-flex mb-5  align-items-center justify-content-center ">
      <div class="row g-3  justify-content-center ">
        <div class="col-4">
          <div class="box" (click)="openPropertySell()">
            <div>
              <img src="../../../assets/img/realestate_ic.png" width="64">
            </div>
            <div>
              <p style="font-size: small;font-weight: bold">Property</p>
            </div>
          </div>
        </div>
        <div class="col-4 ">
          <div class="box" (click)="openMotorcycleSell()">
            <img src="../../../assets/img/realestate_ic.png" width="64">
            <p style="font-size: small;font-weight: bold">Motor Cycle</p>
          </div>
        </div>
        <div class="col-4 ">
          <div class="box" (click)="openCarSell()">
            <img src="../../../assets/img/realestate_ic.png" width="64">
            <p style="font-size: small;font-weight: bold">Car</p>
          </div>
        </div>
        <div class="col-4 ">
          <div class="box" (click)="openMobileSell()">
            <img src="../../../assets/img/realestate_ic.png" width="64">
            <p style="font-size: small;font-weight: bold">Mobile</p>
          </div>
        </div>
        <div class="col-4 ">
          <div class="box" (click)="openElectronicsSell()">
            <img src="../../../assets/img/realestate_ic.png" width="64">
            <p style="font-size: small;font-weight: bold">Electronics</p>
          </div>
        </div>
        <div class="col-4 ">
          <div class="box" (click)="openFurnitureSell()">
            <img src="../../../assets/img/realestate_ic.png" width="64">
            <p style="font-size: small;font-weight: bold">Furniture</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
