<app-header></app-header>
<section class="services">
  <div class="container pt-5">
    <div class="service-container ">
      <div class="item" (click)="openPropertySell()">
        <p style="font-size: small;font-weight: bold">Property</p>
      </div>
      <div class="item" (click)="openMotorcycleSell()">
        <p style="font-size: small;font-weight: bold">Motor Cycle</p>
      </div>
      <div class="item" (click)="openCarSell()">
        <p style="font-size: small;font-weight: bold">Car</p>
      </div>
      <div class="item" (click)="openMobileSell()">
        <p style="font-size: small;font-weight: bold">Mobile</p>
      </div>
      <div class="item" (click)="openElectronicsSell()">
        <p style="font-size: small;font-weight: bold">Electronics</p>
      </div>
      <div class="item" (click)="openFurnitureSell()">
        <p style="font-size: small;font-weight: bold">Furniture</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
