<!-- <nav class="navbar navbar-inverse header">
  <div class="container-fluid p-0">

    <div class="col-md-12 text-right">
      <app-header></app-header>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-sidebar class="sidenav"></app-sidebar>
    </div>
    <div class="col-sm-10 right-panel pr-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="footer fixed-bottom">
  <app-footer></app-footer>
</footer> -->

<div>
    <app-header class="header"></app-header>
</div>
  <!-- <div class="container-fluid p-0">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard"
        ><img
          style="width: 20%; height: 20%"
          src="./../../../assets/img/FName.png"
      /></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar"></div>
    <div>
      <app-header></app-header>
    </div>
  </div> -->
<!-- <app-sidebar class="sidenav"></app-sidebar> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 right-panel">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="footer fixed-bottom">
  <app-footer></app-footer>
</footer>
